<!DOCTYPE html>
<footer>
  <section class="copyright">
    <p>Copyright © 2024. Todos los Derechos Reservados.</p>
  </section>

  <section class="contactUs">
    <h3>Contacto</h3>
    <p>54 9 1234 5678</p>
    <p>qj2o8arrobaexample.com</p>
    <p>Av. Siempre Viva 123, CABA</p>
  </section>
  <section class="redes">
    <a href="*"><picture><img src="../../assets/photos/logo-facebook.svg" alt=""></picture></a>
    <a href="*"><picture><img src="../../assets/photos/logo-instagram.svg" alt=""></picture></a>
    <a href="*"><picture><img src="../../assets/photos/logo-whatsapp.svg" alt=""></picture></a>
  </section>
</footer>
