<!DOCTYPE html>
<section class="menu" role="navigation" aria-label="Main menu">
  <ul class="menu-list">
    <li class="menu-item"><a href="/home" aria-label="Home">Inicio</a></li>
    <li class="menu-item">
      <a href="/clothes-gallery" aria-haspopup="true" aria-expanded="false" aria-label="Products">Productos <span class="dropdown-arrow"></span></a>
      <ul class="generic-list" aria-label="Product categories">
        @for (generic of getGenericTypes(); track $index) {
        <li class="generic-item">
          <a (click)="goToGallery(generic)">{{ generic }}</a>
          <ul class="specific-list">
            @for (specific of groupedClothes[generic]; track $index) {
            <li class="specific-item">
              <a (click)="goToGallery(specific)">{{ specific }}</a>
            </li>
            }
          </ul>
        </li>
        }
      </ul>
    </li>
    @if (isAdminMode) {
    <li class="menu-item">
      <p>Panel de Control <span class="dropdown-arrow"></span></p>
      <ul class="generic-list panelDeControl">
        <li class="generic-item">
          <a href="/viewUserPage">Ver Usuarios</a>
        </li>
        <li class="generic-item">
          <a href="/viewProductsPage">Ver Productos</a>
        </li>
        <li class="generic-item">
          <a href="/createProductPage">Crear Producto</a>
        </li>
        <li class="generic-item">
          <a href="/modifyProductPage">Modificar Producto</a>
        </li>
        <li class="generic-item">
          <a href="/viewInvoicesPage">Ver Facturas</a>
        </li>
      </ul>
    </li>
    }
  </ul>
</section>
