<!DOCTYPE html>
<form [formGroup]="resetForm" (ngSubmit)="sendEmailPassword()" aria-labelledby="resetFormTitle" role="form">
  <section>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" aria-required="true" aria-describedby="emailError"
      placeholder="Email">
  </section>
  <button type="submit" aria-label="Send Password Reset Request">Send</button>
  @if (notificationService.showNotification) {
    <app-toast-notification
      [message]="notificationService.notificationMessage"
      [duration]="5000"
      [imagePosition]="'side'"
      [isSuccess]="notificationService.typeOfNotification">
    </app-toast-notification>
    }
</form>
