<!DOCTYPE html>
<section class="cart-detail">
  <ul>
    @for (item of cartItems; track $index) {
      <app-cart-item [item]="item" (remove)="removeItem(item)" (goToProduct)="goToProduct(item.product)"></app-cart-item>
    }
  </ul>
  <app-cart-actions [totalPrice]="cartService.getTotalPrice()" [showSubmenu]="showSubmenu" [userId]="user.getId()"
    (clearCart)="clearCart()" (toggleSubmenu)="toggleSubmenu()" (payInCash)="payInCash()" (payWithMercadoPago)="payWithMercadoPago()"></app-cart-actions>
</section>
@if (showNotification) {
<app-toast-notification [message]="notificationMessage" [duration]="5000" [imagePosition]="'side'"
  [isSuccess]="false"></app-toast-notification>
}
