@import '../utilities/mixins';
@import '../utilities/variables';

.cart-detail {
  @include properties-flex(column, space-between, none);
  background: $secondary-background;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  min-height: 30rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: grid;
      grid-template-columns: 3.125rem 1fr auto;
      grid-gap: 0.625rem;
      align-items: center;
      border-bottom: 0.0625rem solid #ddd;
      padding: 0.625rem;
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #795e39;
        border-radius: 1rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.3125rem;
      }

      .product-info {
        display: grid;
        grid-gap: 0.3125rem;

        span {
          display: block;
          color: #ffffff;
        }
      }

      button {
        @include properties-flex(row, center, center);
        cursor: pointer;
        background-color: transparent;
        border: none;
        transition: transform 0.3s ease-in-out;
        z-index: 10;

        &:hover {
          transform: scale(1.1);
        }

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .cart-actions {
    @include properties-flex(row, space-between, center);
    margin-top: 0.625rem;

    span{
      color: #ffffff;
      font-size: 1.25rem;
    }

    button {
      padding: 0.625rem 1.25rem;
      border: none;
      background: #007bff;
      color: #fff;
      cursor: pointer;
      transition: background 0.3s;
      border-radius: 0.3125rem;
      box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);

      &:hover {
        background: #0056b3;
      }
    }
  }
}
