@import '../utilities/mixins';

form {
  @include properties-flex(row, none, none);
  flex-wrap: wrap;
  gap: 1rem;

  section {
    @include properties-flex(row, none, none);
    gap: 0.5rem;

    label {
      width: 100%;
      max-width: 10rem;
      text-align: center;
      border-radius: 0.25rem;
      padding: 10px;
      background-color: #4CAF50; // Color de fondo del botón
      color: white; // Color del texto del botón
      cursor: pointer; // Cambia el cursor a un puntero cuando se pasa por encima
    }

    label:hover {
      background-color: #45a049; // Cambia el color de fondo del botón cuando se pasa el cursor por encima
    }

    input {
      width: 100%;
      max-width: 50rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      font-size: 1rem;
    }
  }

  .imageSection {
    @include properties-flex(row, center, center);
    gap: 0.5rem;

    .preview {
      width: 100%;
      max-width: 5rem;
      opacity: 0.5;
    }
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

// Estilos para los botones fuera del formulario
button {
  width: 100%;
  max-width: 10rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #28a745;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #1e7e34;
  }
}
