<!DOCTYPE html>
<header>
  <nav>
    <section class="container">
      <section class="logo">
        <a href="/home"><img src="../../assets/photos/logoGeneric.png" alt="Logo Tienda"></a>
      </section>
      <app-search (search)="searchClothes($event)"></app-search>
      <section class="icons">
        <app-cart-dropdown [cartItems]="cartItems" [isLogging]="isLogging"></app-cart-dropdown>
        <picture>
          @if (!isLogging) {
          <img src="../../assets/photos/user.svg" alt="">
          }@else {
          <img [src]="user.getImage()" class="userImage" alt="">
          }
          <section class="cart-dropdown user-dropdown">
            <ul class="subMenuUser">
              @if (!isLogging) {
              <li><a href="/create-user">Crear usuario</a></li>
              <li><a href="/login">Loguearse</a></li>
              }
              @else {
              @if (isAdminIn) {
              <li><a href="/admin">Panel de Control</a></li>
              <li><a href="/user-profile">Perfil de Usuario</a></li>
              <li><a href="/favorites">Favoritos</a></li>
              <li><a (click)="logOut()">Cerrar Sesión</a></li>
              } @else {
              <li><a href="/user-profile">Perfil de Usuario</a></li>
              <li><a href="/favorites">Favoritos</a></li>
              <li><a (click)="logOut()">Cerrar Sesión</a></li>
              }
              }
            </ul>
          </section>
        </picture>
      </section>
    </section>
    <app-drop-down-menu-products [groupedClothes]="groupedClothes" [isLogging]="isLogging"
      [isAdminIn]="isAdminIn"></app-drop-down-menu-products>
  </nav>
</header>
