header {
  nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    background-color: #9B8264;

    .container {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 0.625rem;
      padding: 0.625rem;

      .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 6rem;
        }
      }

      .search {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          width: 30rem;
          height: 1.875rem;
          border-radius: 0.625rem;
          border: none;
          padding: 0.625rem;
          padding-right: 1.875rem; // Aumenta el padding a la derecha para hacer espacio para la lupa
          background-color: #F1B338;
          background-image: url('../../assets/photos/search.svg');
          background-repeat: no-repeat;
          background-position: right 0.625rem center;
          background-size: 1rem 1rem;

          &[type="text"] {
            color: #00000088;
          }
        }

        .search-results {
          position: absolute;
          top: calc(65% + 0.625rem); // Posiciona el contenedor justo debajo del input
          width: 30rem; // Asegura que el contenedor tenga el mismo ancho que el input
          background-color: #F1B338; // Añade un color de fondo para que los resultados sean legibles
          border-radius: 0.625rem;
          box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1); // Añade un poco de sombra para un efecto "elevado"
          z-index: 10; // Asegura que el contenedor aparezca encima de otros elementos

          ul{
          list-style: none;
          padding: 0;
          margin: 0;
          height: 7.5rem;
          overflow: auto;

          a {
            text-decoration: none;
            list-style: none;
            color: #00000088;
            display: block; // Hace que el enlace se muestre como un bloque
            margin: 0; // Elimina los márgenes para un mejor control del espaciado
            padding: 0.625rem; // Añade un poco de padding vertical para separar los resultados
            border-bottom: 1px solid #ddd; // Añade una línea divisoria entre los resultados
            transition: all 0.5s ease;
            border-radius: 0.625rem;

            &:last-child {
              border-bottom: none; // Elimina la línea divisoria del último resultado
            }

            &:hover {
              color: #ffffff;
              background-color: #483924; // Cambia el color de fondo al pasar el mouse por encima
            }
          }
        }
        }
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 9999;

        picture {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #F1B338;
          border-radius: 2rem;
          width: 3rem;
          height: 3rem;
          cursor: pointer;
          margin: 0.3125rem;
          position: relative;

          &:hover {
            background-color: #d47c00;
            transform: scale(1.1);
            transition: 0.5s;
          }

          img {
            width: 2.5rem;
            padding: 0.3125rem;
            cursor: pointer;
          }
        }

        .cart-dropdown {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          background-color: #F1B338;
          border-radius: 0.625rem;
          padding: 0.625rem; // Restaurado el relleno
          transition: all 0.3s ease;

          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              display: flex;
              align-items: center;
              gap: 0.625rem;

              img {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 0.625rem;

                &:hover {
                  opacity: 0.7;
                  transition: all 0.3s ease;
                  cursor: pointer;
                  transform: scale(1.1);
                }
              }

              span {
                font-size: 1rem;
                color: #000;
              }

              button {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: transparent;
                border: none;

                img {
                  width: 2rem;
                }
              }
            }
          }

          .subMenuUser {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
            padding: 0;

            a {
              width: 100%;
              color: #000;
              font-size: 1rem;
              text-decoration: none;
              cursor: pointer;
              padding: 0.625rem;
              box-sizing: border-box; // Asegurarse de que el padding se incluya en el ancho
              white-space: nowrap;
              transition: all 1s ease;

              &:hover {
                color: #ffffff;
                background-color: #906F48;
                width: calc(100% + 1.25rem); // Ajustar el ancho para incluir el padding
                position: relative;
                left: -0.625rem; // Ajustar la posición para alinear con el borde del contenedor
                transition: all 1s ease;
              }
            }
          }
        }

        picture:hover .cart-dropdown {
          display: block;
        }
      }
    }

    .menu {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #483924;

      a {
        text-decoration: none;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        background-color: #483924;
        padding: 0.625rem;
        border-radius: 0.625rem;

        li {
          list-style: none;
          margin-left: 0.625rem;
          cursor: pointer;
          color: #333;
          font-weight: 600;
          font-size: 1.125rem;
          color: #ffffff;

          &:hover {
            color: #d47c00;
            font-weight: 800;

            ul {
              display: flex;
              justify-content: space-evenly;
              visibility: visible;
              opacity: 1;
              transform: scaleY(1);
              left: 0;
              right: 0; // Modificado aquí
            }
          }

          ul {
            visibility: hidden;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition: all 0.3s ease;
            position: absolute;
            top: calc(100% + 0rem);
            left: 0;
            right: 0; // Modificado aquí
            background-color: #48392498;
            padding: 1rem;
            border-radius: 0 0 1rem 1rem;
            height: 4rem;

            li {
              margin-left: 0;
            }
          }
        }

        .dropdown-arrow {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23ffffff" color="%23ffffff" viewBox="0 0 20 20"><polygon points="5,8 10,13 15,8"/></svg>') no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }
  }
}
