<header>
  <nav>
    <section>
      <input type="text" name="" id="" placeholder="Buscar Producto...">
      <img src="./assets/logo.png" alt="">
    </section>
    <section>
      <img src="./assets/user.png" alt="">
      <img src="./assets/cart.png" alt="">
    </section>
    <section>
      <ul>
        <li>Inicio</li>
        <li>Productos
          <!-- <ul>
            @for (product of products; track product.id){
              <li>{{ product.name }}</li>
            }
          </ul> -->
        </li>
        <li>Quienes Somos</li>
      </ul>
    </section>
  </nav>
</header>
