@import '../utilities/mixins';
@import '../utilities/variables';

picture {
  @include properties-flex(row, center, center);
  background: $tertiary-background;
  border-radius: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0.3125rem;
  position: relative;

  img {
    width: 2.5rem;
    padding: 0.3125rem;
    cursor: pointer;
    object-fit: cover;
    image-rendering: -moz-crisp-edges; // Firefox
    image-rendering: -o-crisp-edges; // Opera
    image-rendering: -webkit-optimize-contrast; // Webkit (Safari, Chrome)
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor; // IE

    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }

  a {
    img {
      width: 2.5rem;
      padding: 0.3125rem;
      cursor: pointer;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  .cart-dropdown {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background: $tertiary-background;
    border-radius: 0.625rem;
    padding: 0.625rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    min-width: 20rem;
    max-width: calc(100% - 2rem);
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;

    @media screen and (max-width: 480px) {
      right: -10rem;
    }

    @media screen and (min-width: 480px) {
      max-width: 27rem; // Ajusta el ancho máximo para pantallas grandes
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        @include properties-flex(row, none, center);
        gap: 0.625rem;
        border: #000 solid 0rem 0rem 0.1rem 0rem;

        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 0.625rem;

          &:hover {
            opacity: 0.7;
            transition: all 0.3s ease;
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        span {
          text-align: center;
          font-size: 1rem;
          color: #000;
        }

        button {
          @include properties-flex(row, center, center);
          cursor: pointer;
          background-color: transparent;
          border: none;

          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }

      .productCart {
        width: fit-content;
        transition: all 0.5s ease;
        border-radius: 0.625rem;

        &:hover {
          background-color: #db9b1a;
        }

        .name {
          width: 100%;
          max-height: 3rem;
          overflow: auto;
          scrollbar-width: none;
        }
      }
    }
  }

  &:hover .cart-dropdown {
    max-height: 15rem;
    opacity: 1;
  }
}
