<!DOCTYPE html>
<picture (mouseenter)="showCartDropdown()" (mouseleave)="hideCartDropdown()">
  <a href="cart-detail">
    <img src="../../assets/photos/shopping-cart.svg" alt="">
  </a>
  @if (isCartDropdownVisible) {
  <section class="cart-dropdown" [@slideDownUp]>
    <ul>
      @if (cartItems.length > 0) {
      @for (item of cartItems; track $index) {
      <li class="productCart" (click)="goToProduct(item.product)">
        <img [src]="item.product.getImages()[0]?.url" [alt]="item.product.getName()">
        <span class="name">{{ item.product.getName() }}</span>
        <span>
          Tamaño:
          {{item.product.getSize().toUpperCase()}}
        </span>
        <span>Precio: ${{ getTotalPriceForProduct(item.product, item.quantity) }}</span>
        <span>Cantidad: {{ item.quantity }}</span>
        <button (click)="removeItem(item)">
          <img src="../../assets/photos/trash.svg" alt="Trash Icon">
        </button>
      </li>
      }
      } @else {
      <li>
        <p>No hay productos en el carrito.</p>
      </li>
      }
    </ul>
  </section>
  }
</picture>
