<!DOCTYPE html>
<section class="uniqueProduct">
  <section class="uniqueProductGalleryImage">
    <section class="smallImages">
      <picture class="smallImage">
        @for (smallImage of smallImages; track $index) {
        <img [src]="smallImage" alt="" (click)="changeMainImage(smallImage)"
          [class.selected]="smallImage === mainImage">
        }
      </picture>
    </section>
    <section class="mainImage" #mainImageDiv>
      <img [src]="mainImage" alt="" (mousemove)="zoomImage($event)" (mouseout)="resetZoom()">
    </section>
    <div class="zoomResult" #zoomResultDiv #zoomLensDiv></div>
  </section>

  <section class="uniqueProductInfo">
    <h1>{{ product?.getName() }}</h1>
    <p>$ {{ product?.getPrice() }}</p>

    <label for="sizes">Tamaño</label>
    <section id="sizes" class="sizes">
      @for (size of ['xs', 's', 'm', 'l', 'xl']; track $index) {
      <button [disabled]="!sizesAvailable.includes(size)" (click)="selectSize(size)"
        [class.selected]="selectedSize === size"
        [title]="!sizesAvailable.includes(size) ? 'Tamaño no disponible' : ''">{{size}}</button>
      }
    </section>

    <section class="addToCartContainer">
      <label for="quantityContainer">Cantidad</label>
      <section id="quantityContainer" class="quantityContainer">
        <button class="quantityButton" (click)="subtractQuantity()">-</button>
        <span>{{ quantity }}</span>
        <button class="quantityButton" (click)="sumAmount()">+</button>
      </section>
      <button class="addToCartButton" [disabled]="!selectedSize" (click)="addToCart()"
        [title]="!selectedSize ? 'Selecciona un tamaño para agregar este producto al carrito' : ''">Agregar</button>
    </section>
  </section>
</section>

@if (showNotification) {
<section class="notification" [ngClass]="{'hide': !showNotification}">
  <h3>Producto agregado</h3>
  <section class="clotheInfo">
    <img [src]="selectedProduct.getImages()[0]?.url" [alt]="selectedProduct.getName()">
    <span>{{ selectedProduct.getName() }}</span>
  </section>
</section>
}

<section class="productDescription">
  <p>{{ product?.getDescription() }}</p>
</section>

<app-product-review></app-product-review>
<app-gallery></app-gallery>
