@import '../utilities/mixins';
@import '../utilities/keyFrames';

.uniqueProduct {
  @include properties-flex(column, space-between, center);
  padding: 1.25rem;
  gap: 1.25rem;

  @media (min-width: 48rem) {
    flex-direction: row;
  }

  .uniqueProductGalleryImage {
    @include properties-flex(column, space-evenly, center);

    @media (min-width: 48rem) {
      flex-direction: row;
    }

    .smallImages {
      @include properties-flex(row, center, center);
      width: 100%;
      gap: 0.625rem;
      overflow-x: auto;

      @media (min-width: 48rem) {
        @include properties-flex(row, center, flex-start);
        width: 15rem;
      }

      .smallImage {
        img {
          width: 100%;
          max-width: 10rem;
          opacity: 0.5;
          cursor: pointer;
          border-radius: 2rem;

          &.selected {
            opacity: 1;
            filter: brightness(1.1);
          }

          &.notSelected {
            filter: blur(2px);
          }
        }
      }
    }

    .mainImage {
      width: 100%;
      cursor: zoom-in;

      img {
        width: 100%;
        max-height: 40rem;
        border-radius: 2rem;
      }

      .zoomLens {
        position: absolute;
        border: 1px solid #d4d4d4;
        width: 10rem;
        height: 10rem;
        cursor: none;
        opacity: 0;
      }
    }

    .zoomResult {
      border: 1px solid #d4d4d4;
      width: 10rem;
      height: 10rem;
      background-repeat: no-repeat;
      position: absolute;
      display: none;
      z-index: 999;
    }
  }

  .uniqueProductInfo {
    @include properties-flex(column, flex-start, center);
    border: 1px solid #ccc;
    flex: 1;
    padding: 1.25rem;
    color: #fff;
    background-color: #4839249f;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    margin-top: 1.25rem;

    @media (min-width: 48rem) {
      margin-top: 0;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 0.625rem;
      text-align: center; // Centrar el título
    }

    p {
      margin-bottom: 0.625rem;
      font-size: 1.2em;
      text-align: justify; // Justificar el texto de la descripción
    }

    button {
      margin: 0.625rem 0; // Añadir margen superior para separar del select
      padding: 0.625rem;
      border: none;
      border-radius: 0.3125rem;
      background-color: #483924;
      color: #fff;
      cursor: pointer;
      font-size: 1.2em; // Aumentar el tamaño de la fuente para los botones
      width: 100%; // Hacer que el botón ocupe todo el ancho
      transition: background-color 0.5s, transform 0.5s; // Añadir transición suave

      &:hover {
        transform: scale(1.05);
        background-color: #977348;
      }

      &:active {
        transform: scale(0.95); // Añadir efecto de "presionado"
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .sizes {
      button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 0.9375rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: 0.25rem 0.125rem;
        cursor: pointer;
        transition-duration: 0.4s;

        &.selected {
          background-color: #008CBA;
        }

        &:disabled {
          background-color: #555555;
          color: #cccccc;
          cursor: not-allowed;
        }
      }
    }

    .addToCartContainer {
      @include properties-flex(column, space-around, center);
      margin-top: 1.25rem;
      padding: 1.25rem;
      border-radius: 0.625rem;

      .quantityContainer {
        @include properties-flex(row, space-between, center);
        margin-bottom: 0.625rem;
        padding: 0.625rem;
        background-color: #906F48;
        width: 100%;
        max-width: 10rem;
        border-radius: 0.3125rem;

        .quantityButton {
          background-color: transparent !important;
          border: none;
          font-size: 1.5em; // Aumentar el tamaño de la fuente para los botones de cantidad
          transition: background-color 0.5s, transform 0.5s; // Añadir transición suave

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: #9B8264;
          }

          &:active {
            transform: scale(0.95); // Añadir efecto de "presionado"
          }
        }
      }

      .addToCartContainer {
        @include properties-flex(row, space-between, center);
        gap: 1rem;
      }

      .quantityContainer {
        @include properties-flex(row, normal, center);
        gap: 0.5rem;
      }

      .quantityButton {
        background-color: #483924;
        color: #fff;
        padding: 0.5rem;
        border: none;
        border-radius: 0.3125rem;
        font-size: 1em;
        transition: background-color 0.5s, transform 0.5s, color 0.5s; // Añadir transición

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          background-color: #977348;
          color: #000; // Cambiar el color del texto en hover
        }

        &:active {
          transform: scale(0.95);
        }
      }

      .addToCartButton {
        background-color: #483924;
        color: #fff;
        padding: 1rem;
        border: none;
        border-radius: 0.3125rem;
        font-size: 1.2em;
        transition: background-color 0.5s, transform 0.5s, color 0.5s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          background-color: #977348;
          color: #000;
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

.productDescription {
  width: 100%;
  padding: 1.25rem;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #4839249f;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  margin: 1.25rem 0;

  @media (min-width: 48rem) {
    max-width: 45rem;
    margin: 2rem 0 0 2rem;
  }

  p {
    margin-bottom: 0.625rem;
    font-size: 1.2em;
    text-align: justify; // Justificar el texto de la descripción
  }
}

label {
  @include properties-flex(row, center, center);
  position: relative;
  margin: 1rem 0;
}

.notification {
  background-color: #28a745;
}

.notificationStock {
  background-color: #dc3545;
}

.notification,
.notificationStock {
  @include properties-flex(column, center, center);
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  padding: 0.625rem;
  color: white;
  border-radius: 0.3125rem;
  z-index: 1000;
  opacity: 1;
  animation: fadeOut 7s forwards;

  &.hide {
    animation: fadeOut 7s forwards;
  }

  .closeNotification {
    position: absolute;
    top: 0.625rem;
    right: 1rem;
    background: none;
    border: none;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    z-index: 1001;
  }

  h3 {
    position: relative;
    padding: 0 1rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 0.625rem;
      height: 1px;
      background-color: white;
    }

    &::before {
      left: -0.625rem;
    }

    &::after {
      right: -0.625rem;
    }
  }

  .clotheInfo {
    @include properties-flex(row, center, center);
    width: 100%;
    height: 100%;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 0.625rem;
    }
  }
}

