@import '../utilities/mixins';
@import '../utilities/variables';

.userViewSection {
  @include properties-flex(row, normal, normal);
  flex-wrap: wrap;
  margin: 2rem;
  border-radius: 0.5rem;
  gap: 1rem;

  .filterSection {
    @include properties-flex(column, normal, normal);
    margin-bottom: 2rem;

    .formItem {
      @include properties-flex(column, normal, normal);

      .formInput {
        padding: 1rem;
        border: 0.1rem solid $border-color;
        border-radius: 0.5rem;
      }
    }
  }

  .formButton {
    padding: 0.625rem 1rem;
    border: none;
    border-radius: 0.3125rem;
    background: $secondary-background;
    color: $primary-text-color-white;
    font-size: 0.8rem;
    margin: 1rem 0rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: $primary-button-background;
      filter: brightness(1.2);
    }
  }

  .paginationSection {
    @include properties-flex(row, center, center);
    width: 100%;
    margin-top: 2rem;
  }
}
