$global-background: linear-gradient(to right, #9B8264, #BAA892);
$secondary-background: linear-gradient(to right, #483924, #786A54);
$tertiary-background: linear-gradient(to right, #F1B338, #F1D638);
