<!DOCTYPE html>
<section class="cart-actions">
  <section>
    <span>Total: ${{ totalPrice }}</span>
    <button (click)="clear()">Vaciar carrito</button>
  </section>
  <section class="pays-actions">
    <button (click)="toggle()">Confirmar compra</button>
    @if (showSubmenu && userId != 0) {
    <section class="submenu">
      <button (click)="payCash()">Pagar en efectivo</button>
      <button (click)="payMercadoPago()">Pagar con Mercado Pago</button>
    </section>
  }
  </section>
</section>
