<!-- <!DOCTYPE html>
<section class="comments-section">
  <h2>Comentarios</h2>
  <div class="comment-list">
    <div class="comment">
      <img class="user-image" src="../../assets/photos/logoGeneric.png" alt="User Image">
      <div class="comment-content">
        <p class="user-name"><strong>Juan Pérez</strong></p>
        <p class="comment-text">¡Me encantó el producto!</p>
      </div>
    </div>
    <div class="comment">
      <img class="user-image" src="../../assets/photos/logoGeneric.png" alt="User Image">
      <div class="comment-content">
        <p class="user-name"><strong>Maria López</strong></p>
        <p class="comment-text">La entrega fue muy rápida, gracias.</p>
      </div>
    </div>
    <div class="comment">
      <img class="user-image" src="../../assets/photos/logoGeneric.png" alt="User Image">
      <div class="comment-content">
        <p class="user-name"><strong>Carlos Sánchez</strong></p>
        <p class="comment-text">Excelente calidad, totalmente recomendado.</p>
      </div>
    </div>
  </div>
  <div class="add-comment">
    <input type="text" placeholder="Añade un comentario" id="reviewInput">
    <button
      onclick="addReview(document.getElementById('reviewInput').value); document.getElementById('reviewInput').value=''">Enviar</button>
  </div>
</section> -->

<!DOCTYPE html>
<section class="comments-section">
  <h2>Comentarios</h2>
  @for (review of reviews; track $index) {
  <div class="comment">
    <img class="user-image" [src]="review.image" alt="User Image">
    <div class="comment-text">
      <strong>{{ review.fullname }}</strong>: {{ review.comment }}
    </div>
  </div>
  }
  <div class="comment-input">
    <input #reviewInput type="text" placeholder="Añade un comentario">
    <button (click)="addReview(reviewInput.value); reviewInput.value=''">Enviar</button>
  </div>
</section>
