<!DOCTYPE html>
<section class="comments-section">
  <h2>Comentarios</h2>
  @for (review of reviews; track $index) {
  <div class="comment">
    <img class="user-image" [src]="review.image" alt="User Image">
    <div class="comment-text">
      <strong>{{ review.fullname }}</strong>: {{ review.comment }}
    </div>
  </div>
  }
  <div class="comment-input">
    <input #reviewInput type="text" placeholder="Añade un comentario">
    <button (click)="addReview(reviewInput.value); reviewInput.value=''">Enviar</button>
  </div>
</section>
