<!DOCTYPE html>
<section class="containerGallery">
  <section class="gallery">
    <ul>
      @for (clothe of clothes; track $index) {
      <li class="clothe-item">
        <app-image-wrapper [clothe]="clothe" (changeImage)="changeImage($index, $event)"
          (setActiveImage)="setActiveImage($index, $event)"></app-image-wrapper>
        <a (click)="goToProduct(clothe)">
          <section class="clothe-details">
            <h2>{{clothe.getName()}}</h2>
            <p>Size: {{clothe.getSize()}}</p>
            <p>${{clothe.getPrice()}}</p>
          </section>
        </a>
      </li>
      }
    </ul>
  </section>
</section>
