<!DOCTYPE html>
<section class="addToCartContainer">
  <label for="quantityContainer">Cantidad</label>
  <section id="quantityContainer" class="quantityContainer">
    <button class="quantityButton" (click)="subtractQuantity()">-</button>
    <span>{{ quantity }}</span>
    <button class="quantityButton" (click)="sumAmount()">+</button>
  </section>
  <button class="addToCartButton" (click)="addProductToCart()"
    [title]="!selectedSize ? 'Selecciona un tamaño para agregar este producto al carrito' : ''">Agregar</button>
</section>
