<!DOCTYPE html>
<section class="generalContainer">
  <section class="formShowSection">
    <section class="userViewSection">
      <section class="filterSection">
        <form class="formItem" (ngSubmit)="getUsers()" #allUsersForm="ngForm">
          <button class="formButton" type="submit">Get All Users</button>
        </form>
        <form class="formItem" (ngSubmit)="getUserById(id.value)" #idForm="ngForm">
          <input class="formInput" type="text" ngModel #id="ngModel" name="id" placeholder="ID">
          <button class="formButton" type="submit">Get User by ID</button>
        </form>

        <form class="formItem" (ngSubmit)="getUserByEmail(email.value)" #emailForm="ngForm">
          <input class="formInput" type="text" ngModel #email="ngModel" name="email" placeholder="Email">
          <button class="formButton" type="submit">Get User by Email</button>
        </form>
      </section>
      @if (users && users.length > 0) {
      <section class="visualUsers">
        @for (user of users; track $index) {
        <section class="user">
          <img src="{{ user.getImage() }}" alt="">
          <p>{{ user.getId() }}</p>
          <p>{{ user.getName() }}</p>
          <p>{{ user.getEmail() }}</p>
          <p>{{ roles[$index] }}</p>
        </section>
        }
      </section>
      }
    </section>

    <section class="clothesViewSection">
      <section class="filterSection">
        <form class="formItem" (ngSubmit)="getClothes()" #allClothesForm="ngForm">
          <button class="formButton" type="submit">Get All Clothes</button>
        </form>

        <form class="formItem" (ngSubmit)="findByCode(code.value)" #codeForm="ngForm">
          <button class="formButton" type="submit">Find Clothes by Code</button>
          <input class="formInput" type="text" ngModel #code="ngModel" name="code" placeholder="Code">
        </form>

        @if (clothes.length !== 0) {
        <app-filters [nameFilter]="nameFilter" [minPriceFilter]="minPriceFilter" [maxPriceFilter]="maxPriceFilter"
          [typeFilter]="typeFilter" [genericTypes]="genericTypes" [groupedTypes]="groupedTypes"
          (applyFiltersEvent)="handleApplyFilters($event)" (sortChanged)="setSortOrder($event)">
        </app-filters>
        }
      </section>
      @if (clothes && filteredClothes.length > 0) {
      <section class="visualClothes">
        @for (clothe of clothes; track $index) {
        <section class="clothe">
          <img src="{{ clothe?.getImages()?.[0]?.getUrl() }}" alt="">
          <p>Name: {{ clothe.getName() }}</p>
          <p>Id: {{ clothe.getId() }}</p>
          <p>Code: {{ clothe.getCode() }}</p>
          <p>Price: {{ clothe.getPrice() }}</p>
          <p>Stock: {{ clothe.getStock() }}</p>
          <p>Size: {{ clothe.getSize() }}</p>
        </section>
        }
      </section>
      }
    </section>
  </section>

  <button class="formButton" (click)="displayCreateClothes()">Create New Clothe</button>
  @if (showCreateClothes) {
  <app-create-clothe></app-create-clothe>
  }

  <button class="formButton" (click)="displayUpdateClothes()">Update Clothe</button>
  @if (showUpdateClothes) {
  <app-clothes-list></app-clothes-list>
  }
</section>
