<!DOCTYPE html>
@if (pagination) {
<section class="pagination" aria-label="Pagination Navigation">
  @if (!pagination.isFirst()) {
  <button type="button" class="previous" (click)="onPreviousPage()" [disabled]="pagination.isFirst()"
    aria-label="Previous Page">Página anterior</button>
  }
  <span aria-live="polite">{{ pagination.getNumber() + 1 }} / {{ pagination.getTotalPages() }}</span>
  @if (!pagination.isLast()) {
  <button type="button" class="next" (click)="onNextPage()" [disabled]="pagination.isLast()"
    aria-label="Next Page">Página siguiente</button>
  }
</section>
}
