<!DOCTYPE html>
<form [formGroup]="userForm" class="userContainer" (ngSubmit)="updateUserDetails($event)">
  <section class="imageSection">
    <h2>User Profile</h2>
    <picture>
      <img src="{{ user?.getImage() }}" alt="{{ user?.getName() }}'s profile picture" (click)="openImage()"
        [class.open]="imageOpen === true">
    </picture>
    <label for="image">Upload Image</label>
    <input id="image" type="file" (change)="updateImage($event)">
  </section>
  <section class="dataSection">
    <section>
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name" [value]="userForm.get('name')?.value.value">
      @if (userForm.get('name')?.invalid && userForm.get('name')?.touched) {
      <small class="text-danger">Nombre es requerido</small>
      }
    </section>
    <section>
      <label for="lastname">Last Name:</label>
      <input id="lastname" type="text" formControlName="lastname" [value]="userForm.get('lastname')?.value.value">
      @if (userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched) {
      <small class="text-danger">Apellido es requerido</small>
      }
    </section>
    <section>
      <label for="email">Email:</label>
      <input id="email" type="text" formControlName="email" [value]="userForm.get('email')?.value.value">
      @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
      <small class="text-danger">Email es requerido</small>
      }
    </section>
    <section>
      <label for="password">Password: </label>
      <app-password-field [control]="passwordControl"></app-password-field>
      @if (userForm.get('password')?.invalid && userForm.get('password')?.touched) {
      @if (userForm.get('password')?.errors?.['required']) {
      <small class="text-danger">Contraseña es requerida</small>
      }
      @if (userForm.get('password')?.errors?.['minlength']) {
      <small class="text-danger">La contraseña debe tener al menos 8 caracteres</small>
      }
      }
    </section>
    <button class="customButton" type="submit" [disabled]="userForm.pristine">Update Details</button>
  </section>
  <a href="/viewInvoicesPage">View Invoices</a>
</form>
@if (notificationService.showNotification) {
<app-toast-notification [message]="notificationService.notificationMessage" [duration]="5000" [imageUrl]=""
  [imagePosition]="'side'" [isSuccess]="notificationService.typeOfNotification"></app-toast-notification>
}
