@import '../utilities/mixins';
@import '../utilities/variables';
@import '../utilities/keyFrames';

.uniqueProductInfo {
  @include properties-flex(column, flex-start, center);
  border: 1px solid $border-color;
  flex: 1;
  padding: 1.25rem;
  color: $primary-text-color-white;
  background-color: $secondary-background;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  margin-top: 1.25rem;

  @media (min-width: 48rem) {
    margin-top: 0;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.625rem;
    text-align: center; // Centrar el título
  }

  p {
    margin-bottom: 0.625rem;
    font-size: 1.2em;
    text-align: justify; // Justificar el texto de la descripción
  }

  button {
    margin: 0.625rem 0; // Añadir margen superior para separar del select
    padding: 0.625rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: $secondary-background;
    color: $primary-text-color-white;
    cursor: pointer;
    font-size: 1.2em; // Aumentar el tamaño de la fuente para los botones
    width: 100%; // Hacer que el botón ocupe todo el ancho
    transition: background-color 0.5s, transform 0.5s; // Añadir transición suave

    &:hover {
      transform: scale(1.05);
      background-color: $primary-button-background;
    }

    &:active {
      transform: scale(0.95); // Añadir efecto de "presionado"
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .sizes {
    button {
      background-color: $success-button-background;
      border: none;
      color: $primary-text-color-white;
      padding: 0.9375rem 2rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      margin: 0.25rem 0.125rem;
      cursor: pointer;
      transition-duration: 0.4s;

      &.selected {
        background-color: $warning-button-background;
        color: $text-color-black;
      }

      &:disabled {
        background-color: $error-button-background;
        color: $tertiary-text-color;
        cursor: not-allowed;
      }
    }
  }
}
