@import '../../utilities/mixins';
@import '../../utilities/variables';
@import '../../utilities/keyFrames';

.addToCartContainer {
  @include properties-flex(column, space-around, center);
  margin-top: 1.25rem;
  padding: 1.25rem;
  border-radius: 0.625rem;

  .quantityContainer {
    @include properties-flex(row, space-between, center);
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    background-color: $secondary-background;
    width: 100%;
    max-width: 10rem;
    border-radius: 0.3125rem;

    .quantityButton {
      background-color: transparent !important;
      border: none;
      font-size: 1.5em; // Aumentar el tamaño de la fuente para los botones de cantidad
      transition: background-color 0.5s, transform 0.5s; // Añadir transición suave

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: $primary-button-background;
      }

      &:active {
        transform: scale(0.95); // Añadir efecto de "presionado"
      }
    }
  }

  .addToCartContainer {
    @include properties-flex(row, space-between, center);
    gap: 1rem;
  }

  .quantityContainer {
    @include properties-flex(row, center, center);
    background: $tertiary-background;
    gap: 0.5rem;

    span {
      color: $primary-text-color;
    }
  }

  .quantityButton {
    background-color: $primary-button-background;
    color: $primary-text-color;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1em;
    transition: background-color 0.5s, transform 0.5s, color 0.5s; // Añadir transición

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .addToCartButton {
    background-color: $success-button-background;
    color: $text-color-black;
    padding: 1rem;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.2em;
    transition: background-color 0.5s, transform 0.5s, color 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      background-color: $primary-button-background;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
