<!DOCTYPE html>
<form [formGroup]="resetForm" (ngSubmit)="onSubmit()" aria-labelledby="resetFormTitle" role="form">
  <section>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" aria-required="true" aria-describedby="emailError">
  </section>
  <section>
    <label for="code">Code:</label>
    <input id="code" type="text" formControlName="code" aria-required="true" aria-describedby="codeError">
  </section>
  <section>
    <label for="password">New Password:</label>
    <input id="password" type="password" formControlName="password" aria-required="true" aria-describedby="passwordError">
  </section>
  <button type="submit" aria-label="Reset Password">Reset Password</button>
  @if (notificationService.showNotification) {
    <app-toast-notification
      [message]="notificationService.notificationMessage"
      [duration]="5000"
      [imagePosition]="'side'"
      [isSuccess]="notificationService.typeOfNotification">
    </app-toast-notification>
    }
</form>
