<!DOCTYPE html>
<section class="container">
  <app-filters [nameFilter]="nameFilter" [minPriceFilter]="minPriceFilter" [maxPriceFilter]="maxPriceFilter"
    [typeFilter]="typeFilter" [genericTypes]="genericTypes" [groupedTypes]="groupedTypes"
    (applyFiltersEvent)="handleApplyFilters($event)" (sortChanged)="setSortOrder($event)">
  </app-filters>

  <section class="filters-gallery-container">
    <app-active-filters [nameFilter]="nameFilter" [minPriceFilter]="minPriceFilter" [maxPriceFilter]="maxPriceFilter"
      [typeFilter]="typeFilter" [sortOrder]="sortOrder" (resetFilterEvent)="handleResetFilter($event)">
    </app-active-filters>
    <section class="gallery">
      <ul>
        @if (currentPageItems.length > 0) {
        @for (clothe of currentPageItems; track $index) {
        <li class="clothe-item">
          <app-image-wrapper [clothe]="clothe" (changeImage)="changeImage($index, $event)"
            (setActiveImage)="setActiveImage($index, $event)"></app-image-wrapper>
          <a (click)="goToProduct(clothe)">
            <section class="clothe-details">
              <h2>{{clothe.getName()}}</h2>
              <p>Size: {{ getSizesForProduct(clothe.getCode()).join(', ') }}</p>
              <p>${{clothe.getPrice()}}</p>
            </section>
          </a>
        </li>
        }
        } @else {
        <section class="empty-message">No hay productos para esos filtros.</section>
        }
      </ul>
      <section class="pagination">
        @if (pageIndex > 0) {
        <button class="previous" (click)="previousPage()">Página anterior</button>
        }
        @if ((pageIndex + 1) * pageSize < filteredClothes.length) { <button class="next" (click)="nextPage()">Página
          siguiente</button>
          }
      </section>
    </section>
  </section>
</section>
