<!DOCTYPE html>
<section class="visualUsers">
  <table>
    <thead>
      <tr>
        <th>Imagen</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
      <tr>
        <td data-label="Imagen"><img src="{{ user.getImage() }}" alt=""></td>
        <td data-label="ID">{{ user.getId() }}</td>
        <td data-label="Nombre">{{ user.getName() }}</td>
        <td data-label="Email">{{ user.getEmail() }}</td>
        <td data-label="Rol">{{ roles[$index] }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
