<!DOCTYPE html>
<section class="search">
  <input type="text" [(ngModel)]="searchQuery" (input)="searchClothes()" (blur)="clearSearch()"
    placeholder="Buscar Producto...">
  @if (searchResults.length > 0) {
  <section class="search-results" (click)="$event.stopPropagation()">
    <ul>
      @for (item of searchResults; track $index) {
      <li>
        <a (click)="goToProduct(item)">
          <img src="{{ item.getImages()[0]?.getUrl() }}" alt="{{ item.getName() }}">{{ item.getName() }}
        </a>
      </li>
      }
    </ul>
  </section>
  } @else if(searchResults.length === 0 && searchQuery.length > 0){
  <section class="search-results" (click)="$event.stopPropagation()">
    <p>No se encontraron resultados</p>
  </section>
  }
</section>
