@import '../utilities/mixins';
@import '../utilities/variables';
@import '../utilities/keyFrames';

.search {
  position: relative;
  @include properties-flex(row, center, center);
  z-index: 999;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    max-width: 30rem;
    height: 100%;
    background: linear-gradient(45deg, $global-background, $secondary-background, $tertiary-background, $secondary-background, $tertiary-background, $tertiary-background);
    border-radius: 0.625rem;
    background-size: 800%; // Aumenta el tamaño del fondo para que se mueva más rápido
    filter: blur(0.125rem); // Añade un poco de desenfoque para un efecto de profundidad
    animation: color-shift 15s linear infinite;
  }

  input {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 30rem;
    height: 1.875rem;
    border-radius: 0.625rem;
    border: none;
    padding: 0.625rem;
    padding-right: 1.875rem; // Aumenta el padding a la derecha para hacer espacio para la lupa
    background-color: $tertiary-background;
    background-image: url('../../assets/photos/search.svg');
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 1rem 1rem;
    transition: all 0.5s ease;

    &[type="text"] {
      color: $secondary-text-color;
    }

    &:hover {
      background-size: 1.1rem 1.1rem;
    }
  }

  .search-results {
    @include properties-flex(column, normal, normal);
    position: absolute;
    top: calc(65% + 0.625rem); // Posiciona el contenedor justo debajo del input
    width: 100%;
    max-width: 30rem; // Asegura que el contenedor tenga el mismo ancho que el input
    background: $tertiary-background; // Añade un color de fondo para que los resultados sean legibles
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1); // Añade un poco de sombra para un efecto "elevado"
    z-index: 10; // Asegura que el contenedor aparezca encima de otros elementos

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      height: auto;
      max-height: 9rem;
      overflow: auto;
      z-index: 99;

      li {
        width: 100%;

        img {
          width: 3.5rem;
          padding: 0.3125rem;
        }
      }
    }

    a,
    p {
      @include properties-flex(flex, normal, center);
      cursor: pointer;
      text-decoration: none;
      list-style: none;
      color: $secondary-text-color;
      margin: 0; // Elimina los márgenes para un mejor control del espaciado
      padding: 0.625rem; // Añade un poco de padding vertical para separar los resultados
      border-bottom: 1px solid $border-color; // Añade una línea divisoria entre los resultados
      transition: all 0.5s ease;
      border-radius: 0.625rem;
      z-index: 99;

      &:last-child {
        border-bottom: none; // Elimina la línea divisoria del último resultado
      }

      &:hover {
        color: #ffffff;
        background: $secondary-background; // Cambia el color de fondo al pasar el mouse por encima
      }
    }
  }

  @media (max-width: 48rem) {
    input {
      width: 100%;
    }

    .search-results {
      width: 100%;
    }
  }
}
