<!DOCTYPE html>
<section class="search">
  <input type="text" [(ngModel)]="searchQuery" (input)="searchClothes()" (blur)="clearSearch()"
    (keypress)="preventNumberInput($event)" placeholder="Buscar Producto...">
  @if (searchResults.length > 0) {
  <section class="search-results" (click)="$event.stopPropagation()" [@slideDownUp]>
    <ul>
      @for (item of searchResults; track $index) {
      <li>
        <a (click)="viewProduct(item)">
          <img [@zoomInOut] [src]="item.getImages()[item.currentImage].getUrl()" [alt]="item.getName()"
            (error)="onImageError($event)">
          {{ item.getName() }}
        </a>
      </li>
      }
    </ul>
  </section>
  } @else if(searchResults.length === 0 && searchQuery.length > 0){
  <section class="search-results" (click)="$event.stopPropagation()" [@slideDownUp]>
    <p>No se encontraron resultados</p>
  </section>
  }
</section>

@if (showNotification) {
<app-toast-notification [message]="notificationMessage" [duration]="5000" [imageUrl]="" [imagePosition]="'side'"
  [isSuccess]="false"></app-toast-notification>
}
