<!DOCTYPE html>
<section class="active-filters">
  @if (nameFilter) {
  <span>Nombre: {{nameFilter}} <button (click)="resetNameFilter()">X</button></span>
  }
  @if (minPriceFilter) {
  <span>Precio mínimo: {{minPriceFilter}} <button (click)="resetMinPriceFilter()">X</button></span>
  }
  @if (maxPriceFilter) {
  <span>Precio máximo: {{maxPriceFilter}} <button (click)="resetMaxPriceFilter()">X</button></span>
  }
  @if (typeFilter) {
  <span>Categoría: {{typeFilter}} <button (click)="resetTypeFilter()">X</button></span>
  }
  @if (sortOrder) {
  <span>Orden: {{sortOrder}} <button (click)="resetSortOrder()">X</button></span>
  }
</section>
