<!DOCTYPE html>
<section>
  <h1>Your Favorite Products</h1>
  <ul class="favorites-container">
    @for (favorite of user.getWisheList(); track $index) {
    <li class="favorite-item" itemscope itemtype="http://schema.org/Product">
      <div class="image-container">
        <img [src]="favorite.getPhoto()" alt="{{ favorite.getName() }}" itemprop="image">
        <button class="favorite" (click)="removeFavorite(favorite)" [class.filled]="true"
          aria-label="Remove from favorites">&#9733;</button>
      </div>
      <section class="favorite-details">
        <h2 itemprop="name">{{favorite.getName()}}</h2>
      </section>
      <button type="button" class="goProduct" (click)="goToFavoriteProduct(favorite)">View Product</button>
    </li>
    }
  </ul>
</section>
