<!DOCTYPE html>
<section>
  <h2>Tus productos favoritos</h2>
  <ul class="favorites-container">
    @for (favorite of user.getWisheList(); track $index) {
    <li class="favorite-item">
      <div class="image-container">
        <img [src]="favorite.getPhoto()" alt="{{ favorite.getName() }}">
        <button class="favorite" (click)="removeFavorite(favorite)" [class.filled]="true">&#9733;</button>
      </div>
      <section class="favorite-details">
        <h2>{{favorite.getName()}}</h2>
      </section>
      <button type="button" class="goProduct" (click)="goToProduct(favorite)">Ver Producto</button>
    </li>
    }
  </ul>
</section>
