@import '../utilities/mixins';
@import '../utilities/variables';

.favorites-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr)); // 250px to rem
  gap: 1.25rem; // 20px to rem
  padding: 1.25rem; // 20px to rem
  background: $global-background;
  content-visibility: auto;

  .favorite-item {
    @include properties-flex(column, normal, center);
    list-style: none;
    text-decoration: none;
    width: 15rem;
    height: 23rem;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;
    background: $secondary-background;
    transition: filter 0.5s ease-in-out;
    position: relative;
    overflow: hidden; /* Asegura que el contenido no sobresalga */
    cursor: pointer;
    content-visibility: auto;

    &:hover {
      filter: drop-shadow(0 0 0.625rem rgba(0, 0, 0, 0.788)) brightness(1.2);
    }

    .image-container {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        height: 15rem;
        border-radius: 0.5rem;
      }

      .favorite {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: #ccc;
        cursor: pointer;

        &.filled {
          color: #f1b338;
        }
      }
    }

    .favorite-details {
      @include properties-flex(column, center, center);
      max-height: 10rem;
      max-width: 13rem;
      overflow: hidden;

      h2 {
        font-size: 1rem;
        margin: 0.625rem 0;
        font-size: clamp(1rem, 2.5vw, 1.125rem); /* Ajusta dinámicamente el tamaño de la fuente */
        color: #dadada;
        text-align: center;
        overflow: scroll;
        height: 3rem;
        scrollbar-width: none;
      }

      p {
        margin: 0;
        color: #dadada;
        font-size: clamp(0.875rem, 2vw, 1rem); /* Ajusta dinámicamente el tamaño de la fuente */
        text-align: center;
      }
    }

    .goProduct {
      padding: 0.625rem 1rem;
      border: none;
      border-radius: 0.3125rem;
      background: $primary-button-background;
      color: white;
      font-size: 0.8rem;
      transition: all 0.3s ease;
      cursor: pointer;
      z-index: 99;
      position: absolute;
      bottom: 0.5rem;

      &:hover {
        background-color: $secondary-background;
        filter: brightness(1.2);
      }
    }
  }
}
