<!DOCTYPE html>
<section class="image-wrapper">
  <a (click)="goToProduct(clothe)">
    <img [@zoomInOut] [src]="clothe.getImages()[clothe.currentImage]?.getUrl()" alt="{{clothe?.getName()}}">
  </a>
  @if (isLogging) {
    <button class="favorite" (click)="toggleFavorite(clothe)" [class.filled]="isFavorite">&#9733;</button>
  }
  <section class="image-controls">
    <button class="prev" (click)="clothe.changeImage(-1)">&#10094;</button>
    <button class="next" (click)="clothe.changeImage(1)">&#10095;</button>
  </section>
  <section class="image-dots">
    @for (image of clothe.getImages(); track $index) {
      <span (click)="clothe.setActiveImage($index)" [class.active]="$index === clothe.currentImage"></span>
    }
  </section>
</section>
