@import '../utilities/mixins';

.userContainer {
  @include properties-flex(row, space-evenly, center);

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }

  .imageSection {
    @include properties-flex(column, center, center);
    gap: 1rem;

    picture {
      padding: 0.5rem;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }

      img {
        border: 1px solid #ccc;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        width: 10rem;
        height: 10rem;
        transition: all 0.5s ease-in-out;

        &.open {
          width: 15rem;
          height: 15rem;
          border-radius: 0%;
        }
      }
    }

    input[type="file"] {
      display: none;
    }

    label {
      display: inline-block;
      padding: 0.5rem 1rem;
      color: white;
      background-color: #483924be;
      border-radius: 0.625rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #483924;
      }
    }
  }

  .dataSection {
    @include properties-flex(column, center, center);
    gap: 1rem;

    section {
      label {
        font-size: 1rem;
        color: #333;
      }

      input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 1rem;
        width: 20rem;
        margin: 1rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(1.05);
          transition: 0.5s;
          background-color: #ccc;
          color: #333;
          border: 1px solid #333;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }
    }

    .password-field {
      position: relative;
      display: inline-block;

      input {
        width: 15rem;
        height: 1.875rem;
        border-radius: 0.625rem;
        border: none;
        padding: 0.625rem;
        padding-right: 2.5rem; // Aumenta el padding a la derecha para hacer espacio para la imagen del ojo
      }

      .customButtonEye {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }

  .customButton {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
      background-color: #ccc;
      color: #333;
      border: 1px solid #333;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  @media (max-width: 650px) {
    flex-direction: column;

    .imageSection {
      picture {
        img {
          width: 8rem;
          height: 8rem;
        }
      }
    }

    .dataSection {
      section {
        @include properties-flex(row, center, center);
        flex-wrap: wrap;

        input {
          @media (max-width: 600px) {
            width: 15rem;
          }
        }
      }
    }
  }
}
