<!DOCTYPE html>
<section class="container" #clothesListContainer>
  <section class="containerProductCard">
    @for (clothes of clothesList; track $index) {
    <section class="product-card">
      <section class="product-image-container">
        <img [@zoomInOut] [src]="clothes.getImages()[clothes.currentImage].getUrl()"
          [alt]="clothes.getName() + ' image'" (error)="onImageError($event)" class="product-image">
      </section>
      <section class="product-info" [@zoomInOut]>
        <p class="product-name">{{ clothes.getName() }}</p>
        <button class="product-button" (click)="selectClothes(clothes)">Update</button>
      </section>
    </section>
    }
    <app-pagination [pagination]="pagination" (previousPage)="onPageChange(currentPage - 1)"
        (nextPage)="onPageChange(currentPage + 1)"></app-pagination>
  </section>
  @if (selectedClothes) {
  <form [formGroup]="clothesForm" (ngSubmit)="updateClothes()" class="product-form" [@slideInOutRight]>
    <section>
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name" placeholder="Nombre">
    </section>
    @if (clothesForm.controls.name.invalid && clothesForm.controls.name.touched) {
    <p class="error-text">El nombre es requerido.</p>
    }

    <section>
      <label for="price">Precio:</label>
      <input id="price" formControlName="price" placeholder="Precio">
    </section>
    @if (clothesForm.controls.price.invalid && clothesForm.controls.price.touched) {
    <p class="error-text">El precio es requerido y debe ser mayor o igual a 0.</p>
    }

    <section>
      <label for="stock">Stock:</label>
      <input id="stock" formControlName="stock" placeholder="Stock">
    </section>
    @if (clothesForm.controls.stock.invalid && clothesForm.controls.stock.touched) {
    <p class="error-text">El stock es requerido y debe ser mayor o igual a 0.</p>
    }

    <section>
      <label for="code">Codigo:</label>
      <input id="code" formControlName="code" placeholder="Código">
    </section>
    @if (clothesForm.controls.code.invalid && clothesForm.controls.code.touched) {
    <p class="error-text">El código es requerido.</p>
    }
    <section>
      <label for="size">Talle:</label>
      <input id="size" formControlName="size" placeholder="Tamaño">
    </section>
    @if (clothesForm.controls.size.invalid && clothesForm.controls.size.touched) {
    <p class="error-text">El tamaño es requerido.</p>
    }

    <section>
      <label for="description">Descripcion:</label>
      <input id="description" formControlName="description" placeholder="Descripcion">
    </section>
    @if (clothesForm.controls.description.invalid && clothesForm.controls.description.touched) {
    <p class="error-text">La Descripcion es requerida.</p>
    }
    <section>
      <label for="genericType">Tipo Generico:</label>
      <select id="genericType" formControlName="genericType" (change)="onGenericTypeChange($event)">
        @for (type of genericTypes; track $index) {
        <option [value]="type" (change)="type">{{ type }}</option>
        }
      </select>
      <input id="newGenericType" placeholder="Nuevo Tipo Generico" formControlName="genericType">
    </section>
    @if (clothesForm.controls.genericType.invalid && clothesForm.controls.genericType.touched) {
    <p class="error-text">El tipo genérico es requerido.</p>
    }
    <section>
      <label for="specificType">Tipo Específico:</label>
      <select id="specificType" formControlName="specificType" (change)="onSpecificTypeChange($event)">
        @for (type of specificTypes; track trackBySpecificType($index, type)) {
        <option [value]="type">{{ type }}</option>
        }
      </select>
      <input id="newSpecificType" placeholder="Nuevo Tipo Específico" formControlName="specificType">
    </section>
    @if (clothesForm.errors?.['invalidSpecificType'] && clothesForm.controls.specificType.touched) {
    <p class="error-text">El tipo específico no corresponde al tipo genérico seleccionado.</p>
    }

    <section class="sectionColumn">
      <input type="file" (change)="onFileChange($event)" aria-label="Select image" />
      <p class="help-text">Select an image to change the product image.</p>

      <section class="image-list">
        @for (image of selectedClothes?.getImages(); track $index) {
        @if (selectedImage !== image?.getUrl() || previewImage) {
        <section class="image-container">
          <img [src]="selectedImage === image?.getUrl() ? previewImage : image?.getUrl()"
            [alt]="selectClothes.name + ' image'" (error)="onImageError($event)"
            [class.selected]="selectedImage === image?.getUrl()" (click)="onImageClick(image?.getUrl()!)" />
          @if (hasMultipleImages(1)) {
          <button type="button" (click)="image?.getUrl() && deleteImage(image.getUrl())">Eliminar</button>
          }
        </section>
        }
        }
      </section>
    </section>

    <section [@zoomInOut]>
      @if (selectedImage) {
      <section class="selected-image-container" [@zoomInOut]>
        <p class="image-label">Selected Image</p>
        <img [src]="selectedImage" [alt]="'Selected image of ' + selectedClothes?.getName()"
          (error)="onImageError($event)" />
        <button type="button" (click)="selectedImage = ''">Remove</button>
      </section>
      }

      @if (previewImage) {
      <section class="preview-image-container" [@zoomInOut]>
        <p class="image-label">Preview Image</p>
        <img [src]="previewImage" [alt]="'Preview of ' + selectedClothes?.getName()"
          (error)="onImageError($event)" />
      </section>
      }
    </section>

    @if (previewImage) {
    <button type="button" (click)="updateImage()">Actualizar imagen</button>
    <p class="help-text">Haga clic en 'Actualizar imagen' para obtener una vista previa de la nueva imagen.</p>
    }
    @if (hasMultipleImages(3) && previewImage) { <button type="button" (click)="addImage()">Agregar
      imagen</button>
      <p class="help-text">Haga clic en 'Agregar imagen' para agregar la imagen previsualizada al producto</p>
      }

      <section>
        <label for="subject">Asunto:</label>
        <input type="text" id="subject" [(ngModel)]="subject" [ngModelOptions]="{standalone: true}"
          placeholder="Asunto">
      </section>
      <section>
        <label for="message">Mensaje:</label>
        <input type="text" id="message" [(ngModel)]="message" [ngModelOptions]="{standalone: true}"
          placeholder="Mensaje">
      </section>
      <section class="sectionColumn">
        <button type="submit">Guardar</button>
        <p class="help-text">Haga clic en 'Guardar' para guardar todos los cambios.</p>
      </section>

      <!-- <button type="button" (click)="deleteClothe(selectedClothes)">Eliminar</button> -->
  </form>
  }
  @if (notificationService.showNotification) {
  <app-toast-notification [message]="notificationService.notificationMessage" [duration]="5000" [imageUrl]=""
    [imagePosition]="'side'" [isSuccess]="notificationService.typeOfNotification"></app-toast-notification>
  }
</section>
